{% extends "marketing/base.html" %}
{% block content %}
<section class="hero">
  <h1>{{ heading }}</h1>
  <p class="lead">{{ lead }}</p>
  <p>
    {% mt "The <a href=\"https://www.facebook.com/groups/birdrcommunity\">Facebook group</a> is the place to have discussions with other birders." %}
  </p>
  <p>
    {% mt "A short review on the <a href=\"{apple}\">App Store</a> or <a href=\"{play}\">Google Play</a> helps other birders find Birdr." apple=app_store_review_url play=play_store_url %}
  </p>
  {% include "marketing/_store_scores.html" %}
  <p>
    {% mt "To report a bug or request a feature, <a href=\"https://github.com/birdr-app/birdr/issues\">submit a ticket on GitHub</a>." %}
  </p>
  <p>
    {% mt "You can also <a href=\"https://github.com/sponsors/birdr-app\">sponsor Birdr on GitHub</a>, or write to <a href=\"mailto:info@birdr.pro\">info@birdr.pro</a> about funding or a partnership." %}
  </p>
  <div class="cta-row">
    <a class="btn" href="https://www.facebook.com/groups/birdrcommunity" target="_blank" rel="noopener noreferrer">{% mt "Join the Facebook group" %}</a>
    {% include "marketing/_support_btn.html" %}
    <a class="btn secondary" href="https://github.com/birdr-app/birdr/issues" target="_blank" rel="noopener noreferrer">{% mt "Submit a ticket" %}</a>
  </div>
</section>
{% include "marketing/_help.html" %}
{% endblock %}
