# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Signing keys (keep .jks/.keystore out of version control)
keys/*.jks
keys/*.keystore

# Bundle artifacts
*.jsbundle
/keys/
