**/*.pyc
jizz/db.sqlite3
jizz/settings/local.py
jizz/settings/production.py
.idea

**/__pycache__

app/node_modules
app/node_modules/*
build
.env

jizz/media
jizz/static

# Coverage
.coverage
coverage.xml
htmlcov/
