{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "loader": "require",
        "filepath": "/Users/gannetson/Projects/birdr/app/node_modules/@babel/preset-react/lib/index.js"
      }
    ]
  ],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./locales/",
        "extractSourceLocation": true
      }
    ]
  ]
}
